@use 'variables' as *;

html,
body {
  background-color: $color-dark;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.xs-z80 {
  zoom: 80%;
  @media screen and (min-width: 360px) {
    zoom: inherit;
  }
}
.mt-0 {
  margin-top: 0;
}
.mt-12 {
  margin-top: 12px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-48 {
  margin-top: 48px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-24 {
  margin-bottom: 18px;
  @media (max-min: $tablet-min-width) {
    fmargin-bottom: 24px;
  }
}
.mb-48 {
  margin-bottom: 48px;
}

hr {
  margin: 12px 0 24px;
  border-top: 1px solid $gray5;
}

main {
  min-height: calc(100vh - $header-height);
  @media (min-width: $header-height-mobile) {
    min-height: calc(100vh - 70px);
  }
}

.content {
  max-width: 100%;
  position: relative;
  padding: 24px 12px;

  @media (min-width: $tablet-min-width) {
    padding: 24px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 1008px;
    margin: 0 auto;
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: 12px;
  > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > * {
      flex: 1;
      padding: 0 12px;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  > * {
    flex: 1;
  }
}

.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  > * {
    flex: 1;
  }
}

sup {
  font-size: 70%;
  vertical-align: super;
}

.hide-mobile {
  @media (max-width: $tablet-min-width) {
    display: none;
  }
}
.hide-desktop {
  @media (min-width: $tablet-min-width) {
    display: none;
  }
}
