@use 'variables' as *;
:root {
  --color-main: #{$color-main};
  --color-yellow: #{$color-yellow};
  --color-gray: #{$color-gray};
  --color-dark: #{$color-dark};
  --color-white: #{$color-white};
  --color-blue: #{$color-blue};
  --color-red: #{$color-red};
}
