@use 'variables' as *;

body {
  font-size: 16px;
  line-height: 24px;
  color: $color-gray;
}
/* prettier-ignore */
input, textarea, button, select {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
textarea {
  font-family: inherit;
}
a {
  color: $color-link;
}

.container {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

h1,
.h1 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 18px;
  font-weight: 500;
  color: $color-yellow;
  @media (min-width: $tablet-min-width) {
    margin-bottom: 24px;
  }
}

h2,
.h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #c88c00;
  scroll-margin-top: 80px; /* readjust link anchor target */
}

h3,
.h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #a67400;
  scroll-margin-top: 80px; /* readjust link anchor target */
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 12px;
}
.h4,
h4 {
  color: white;
}
.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

input::placeholder {
  font-size: 14px;
  color: $gray4;
  opacity: 1;
  text-align: left;
}
.uppercase_bold {
  font-weight: 700;
  text-transform: uppercase;
  color: $color-main;
}
.overline {
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.headnote {
  font-size: 14px;
  line-height: 24px;
}

strong {
  font-weight: 500;
}
.footnote {
  font-size: 12px;
  line-height: 22px;
}

li {
  margin-bottom: 12px;
}
