.checkbox,
.checkboxLabel {
  margin-bottom: 18px;
  svg {
    opacity: 0;
    transition-duration: 300ms;
  }
  input {
    display: none;
    &:checked + label svg {
      opacity: 1;
    }
  }
  .label {
    min-width: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 2.5px;
    border: solid 1px #ccc;
    cursor: pointer;
    margin-top: 4px;
  }
  p {
    margin-left: 12px;
    margin-top: 0px;
    font-size: 12px;
    color: $blue-8;
    cursor: pointer;
    a {
      color: $gray5;
      text-decoration: underline;
      font-weight: $font-weight-bold;
    }
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 24px;
  }
}

.checkboxLabel {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
