.reset {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  &:active {
    color: $color-yellow;
  }
  @media screen and (min-width: $tablet-min-width) {
    &:hover {
      color: $color-yellow;
    }
  }
}
