.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}
.svg {
  line-height: 0;
  opacity: 0.7;
  background-blend-mode: multiply;
}
