.customSelect {
  display: inline;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px 12px;
  border-top: 1px solid $gray5;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-min-width) {
    padding: 12px 24px;
    line-height: inherit;
    font-size: inherit;
  }

  &:hover {
    color: $color-main;
    background-color: $color-white;
  }
}
