$blue-8: #769cae;

$gray5: #777;
$gray7: #555;

$font-weight-thin: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;

$color-white: #ededed;
$color-gray: #ccc;
$color-main: #ffb200;
$color-dark: #333;
$color-red: #cc0000;
$color-blue: #3333cc;
$color-yellow: #ffb200;
$color-link-active: #ffb200;

$header-height: 52px;
$header-height-mobile: 52px;
$color-link: #0095ff;
$color-text: #ededed;

$margin-mobile: 24px;
$margin-desktop: 64px;
$spacing-base: 24px;
$mobile-min-width: 375px;
$tablet-min-width: 743px;
$desktop-min-width: 989px;
$desktop-large-min-width: 1040px;

$shadow-panel: -3px 3px 8px rgba(0, 0, 0, 0.24), -3px 3px 3px rgba(0, 0, 0, 0.12);

$shadow-close: 0px 4px 5px 0px rgba(0, 0, 0, 0.04), 0px 1px 10px 0px rgba(0, 0, 0, 0.03),
  0px 1px 4px 0px rgba(0, 0, 0, 0.05);
$shadow-far: 0px 14px 17px 0px rgba(0, 0, 0, 0.07), 0px 9px 22px 0px rgba(0, 0, 0, 0.06),
  0px 3px 8px 0px rgba(0, 0, 0, 0.1);
