.timeBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: white;
  font-size: 72px;
  //width: 220px;
  border: 5px solid #fff;
  border-radius: 50px;

  &[data-alert='true'] {
    color: red;
    border-color: red;
  }

  &[data-is-ended='true'] {
    font-size: 72px;
  }
}

.time {
  display: block;
  padding-left: 12px;
  width: 220px;
}
