.timeBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: white;
  font-size: 56px;
  border: 5px solid #fff;
  border-radius: 50px;

  &[data-alert='true'] {
    color: red;
    border-color: red;
  }

  svg {
    margin: 0 -10px;
  }
}

.time {
  display: block;
  text-align: center;
  margin-right: -6px;
  width: 180px;
}
