.header {
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 12px 0;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  background-color: $color-dark;
  color: $color-gray;
}
.logo {
  width: 108px;
  line-height: 0;
  cursor: pointer;
}
.gTitle {
  color: $color-yellow;
}
.icons {
  display: flex;
  gap: 6px;
  align-items: center;
  color: $color-gray;
  line-height: 0;
  a {
    color: $color-gray;
  }
  cursor: pointer;
  > *:hover {
    color: $color-yellow;
    a {
      color: $color-yellow;
    }
  }
}
.wrapper {
  padding: 24px 24px 0;
  font-size: 18px;
  line-height: 24px;
  color: $blue-2;
  min-height: 70px;
  @media (min-width: $tablet-min-width) {
    padding: 0;
    display: flex;

    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: $tablet-min-width) {
  .social {
    display: none;
  }
}
