.panel {
  position: absolute;
  display: block;
  clear: none;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding-top: 24px;
  padding-top: calc($header-height + 24px);
  top: 0;
  transform: translateX(100%);
  background-color: $color-dark;
  overflow-y: auto;
  transition: transform 0.3s;
  box-shadow: $shadow-panel;
  &[data-swp='true'] {
    transform: translateX(0);
  }
}

.wrapper {
  position: relative;
  margin: auto;
  max-width: 960px;
}

.close {
  position: absolute;
  top: 0;
  right: 6px;
  cursor: pointer;
}
