.panel {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-dark;
  padding: 72px 0 0 0;
  overflow-y: auto;
}

.wrapper {
  position: relative;
  margin: auto;
  max-width: 960px;
}

.close {
  position: absolute;
  top: 0;
  right: 6px;
  cursor: pointer;
}
